 .u-section-1 {
  background-image: none;
  min-height: 1140px;
}

.u-section-1 .u-image-1 {
  height: 524px;
  margin-top: 616px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 348px;
  height: 463px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -801px auto 0 calc(((100% - 1140px) / 2)  + -186px);
}

.u-section-1 .u-image-3 {
  width: 615px;
  height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -462px auto 0 calc(((100% - 1140px) / 2)  + -901px);
}

.u-section-1 .u-image-4 {
  width: 346px;
  height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -462px calc(((100% - 1140px) / 2)  + -630px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 346px;
  height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -462px calc(((100% - 1140px) / 2)  + -184px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 616px;
  height: 462px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -462px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1708px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1250px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1435px;
    margin-left: calc(((100% - 1080px) / 2)  + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 339px;
    margin-left: calc(((100% - 1080px) / 2)  + 313px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -471px;
    margin-right: calc(((100% - 1080px) / 2)  + -63px);
    margin-left: calc(((100% - 1080px) / 2)  + -224px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -240px;
    margin-right: calc(((100% - 1080px) / 2)  + -184px);
    margin-left: calc(((100% - 1080px) / 2)  + -85px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 1080px) / 2)  + 370px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2)  + 313px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2)  + -63px);
    margin-left: calc(((100% - 720px) / 2)  + -224px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2)  + -184px);
    margin-left: calc(((100% - 720px) / 2)  + -85px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2)  + 320px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1651px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2)  + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2)  + 140px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + -63px);
    margin-left: calc(((100% - 540px) / 2)  + -224px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2)  + -184px);
    margin-left: calc(((100% - 540px) / 2)  + -85px);
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 405px;
    margin-left: calc(((100% - 540px) / 2)  + 140px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 978px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 616px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -801px;
    margin-left: calc(((100% - 340px) / 2)  + -59px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -476px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: -179px;
    margin-right: calc(((100% - 340px) / 2)  + -63px);
    margin-left: calc(((100% - 340px) / 2)  + -224px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2)  + -184px);
    margin-left: calc(((100% - 340px) / 2)  + -85px);
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 255px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 9720px;
}