 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 524px;
  margin-top: 556px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1080px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 9720px;
}