 .u-section-1 {
  background-image: none;
  min-height: 1080px;
}

.u-section-1 .u-text-1 {
  margin: 110px auto 0;
}

.u-section-1 .u-image-1 {
  height: 524px;
  margin-top: 419px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 584px;
  margin-top: -832px;
  margin-bottom: 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 100px;
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-1 .u-back-image-1 {
  width: calc(100% + 1px);
  right: -1px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-1 .u-back-image-2 {
  width: calc(100% + 1px);
  right: -1px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-1 .u-back-image-3 {
  width: calc(100% + 1px);
  right: -1px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-1 .u-back-image-4 {
  width: calc(100% + 1px);
  right: -1px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-1 .u-back-image-5 {
  width: calc(100% + 1px);
  right: -1px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  transform-origin: center center;
  transform: scaleX(-1);
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  transform-origin: center center;
  transform: scaleX(-1);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 206px;
    margin-left: calc(((100% - 1080px) / 2)  + 364px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 322px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -727px;
  }

  .u-section-1 .u-gallery-item-1 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-1 .u-gallery-item-2 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-1 .u-gallery-item-3 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-over-slide-3 {
    padding: 20px;
  }

  .u-section-1 .u-gallery-item-4 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-over-slide-4 {
    padding: 20px;
  }

  .u-section-1 .u-gallery-item-5 {
    --effect-scale: 0.25;
  }

  .u-section-1 .u-over-slide-5 {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 436px;
    margin-left: calc(((100% - 720px) / 2)  + 243px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 426px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -832px;
    margin-bottom: -87px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 182px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 429px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1166px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 486px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -914px;
    margin-bottom: -620px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-2 .u-text-1 {
  margin: 80px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 49px -62px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 120px 756px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 65px 379px 0 0;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/_DSC0197.JPG");
  background-position: 50% 50%;
  margin: -216px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: -39px 379px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 696px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 319px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 336px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 156px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1566px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 756px 0 0;
}

.u-section-3 .u-image-1 {
  width: 292px;
  height: 411px;
  margin: 30px auto 0;
}

.u-section-3 .u-image-2 {
  width: 290px;
  height: 411px;
  margin: -411px auto 0 20px;
}

.u-section-3 .u-image-3 {
  width: 292px;
  height: 411px;
  margin: -411px 18px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 859px 0 48px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: -77px 76px 0 887px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  width: 328px;
  margin: -76px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 19px 863px 0 58px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -38px 18px 0 822px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  width: 177px;
  margin: -38px auto 0;
}

.u-section-3 .u-image-4 {
  width: 292px;
  height: 413px;
  margin: 150px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  width: 391px;
  margin: 21px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  width: 253px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 853px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 696px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 829px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 46px;
    margin-left: 857px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 833px;
    margin-left: 28px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 780px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 336px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 543px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 307px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-left: 363px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-right: 321px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-left: 240px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 107px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 163px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 40px;
  }

  .u-section-3 .u-text-8 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 950px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 66px 979px 0 0;
}

.u-section-4 .u-video-1 {
  height: 324px;
  width: 361px;
  margin: 106px auto 0 19px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

.u-section-4 .u-image-1 {
  width: 496px;
  height: 279px;
  margin: -197px auto 0 644px;
}

.u-section-4 .u-image-2 {
  width: 533px;
  height: 300px;
  margin: -557px auto 0 420px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 182px 496px 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 949px;
  }

  .u-section-4 .u-video-1 {
    height: 238px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -252px;
    margin-left: 584px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 455px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 589px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 224px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 187px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 409px;
  }

  .u-section-4 .u-video-1 {
    height: 237px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 44px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 7px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 209px;
  }

  .u-section-4 .u-video-1 {
    height: 149px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-top: -140px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-top: -469px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-video-1 {
  width: 550px;
  height: 310px;
  margin: 30px auto 0 20px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -49px 139px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 2px auto 0 60px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: -23px 20px 0 610px;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 1px auto 0 139px;
}

.u-section-5 .u-video-2 {
  width: 550px;
  height: 310px;
  margin: -48px 20px 60px auto;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -9px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -16px;
    margin-right: 61px;
    margin-left: 570px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -36px;
  }

  .u-section-5 .u-video-2 {
    margin-top: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-4 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -24px;
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -186px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 116px;
    font-size: 1rem;
  }

  .u-section-5 .u-video-2 {
    width: 540px;
    height: 304px;
    margin-top: -26px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -31px;
    margin-right: 88px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -7px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -143px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 94px;
    margin-left: 88px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
    height: 191px;
  }
}